*.class
/00001-easy/log.txt
/00001-intermediate/entries.txt
/00002-difficult/log.txt
/00007-easy/out.txt
/00018-intermediate/output.html
/00018-difficult/spiral.png
/00022-difficult/maze.png
/00022-difficult/maze-solved.png
/00026-intermediate/employees.list